*{
    margin: 0;
    padding: 0;
}
/* common style */
body{
    font-family: 'Open Sans', sans-serif;
}
/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px  200px;
}
.nav-title{
    color: black;
    font-size: 45px;
    font-weight: 800px;
}
span{
    color: orange;
}
button{
    background-color: orange;
    text-decoration: none;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 700px;
    border-radius: 10px;
    padding: 15px 35px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    /* justify-content: space-around; */
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: grey;
}
.header{
    background-color: khaki;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    /* text-align: center; */
    align-items: center;
}
.banner .hardy{
    width: 500px;
}